body{
	background-color: #f0f0f0;
	font-family: sans-serif;
}

.form{
	width: 1400px;
	margin: auto;
	padding-top: 40px;
}

.card{
	box-shadow: 1px 1px 5px #ccc;
	background-color: #8585ad;
	position: fixed;
	top: 50px;
	left: 21px;
	padding: 30px;
	border-radius: 5px;
	display: inline-block;
	float: left;
	height: 600px;
}

.card-top{
	text-align: center;
}

.card-group{
	margin-bottom: 10px;
}

.card-group > label{
	width: 100%;
	color: #e0e0eb;
	display: block;
	text-align: center;
}

.card-group > button{
	background-color: #d1d1e0;
	width: 100%;
	border-radius: 5px;
	padding: 10px;
	color: black;
	border: 20px;
	outline: 40;
}

.create{
	box-shadow: 1px 1px 5px #ccc;
	background-color: #52527a;
	position: fixed;
	width: 1000px;
	height: 230px;
	top: 100px;
	left: 285px;
	padding: 25px;
	border-radius: 5px;
	display: inline-block;
	float: right;
}

.create-top{
	text-align: center;
}

.create-group{
	margin-bottom: 10px;
}

.create-group > button{
	background-color: #ffcc80;
	width: 100%;
	text-align: left;
	border-radius: 5px;
	padding: 10px;
	color: black;
	border: 20px;
	outline: 40;
}

.create2-group > button{
	background-color: #cc7a00;
	position: fixed;
	width: 1055px;
	top: 46px;
	left: 282px;
	text-align: right;
	border-radius: 5px;
	padding: 10px;
	color: black;
	border: 20px;
	outline: 40;
}

.create3-group > button{
	background-color: #cc7a00;
	position: fixed;
	width: 140px;
	top: 650px;
	left: 60px;
	text-align: center;
	border-radius: 5px;
	padding: 10px;
	color: black;
	border: 20px;
	outline: 40;
}

.create4-group > button{
	background-color: #ffd699;
	position: fixed;
	width: 140px;
	top: 600px;
	left: 60px;
	text-align: center;
	border-radius: 5px;
	padding: 10px;
	color: black;
	border: 20px;
	outline: 40;
}

.delete1-group > button{
	background-color: #cc7a00;
	position: fixed;
	width: 60px;
	height: 30px;
	top: 127.5px;
	left: 1246px;
	text-align: center;
	border-radius: 5px;
	padding: 10px;
	color: black;
	border: 20px;
	outline: 40;
}

.delete2-group > button{
	background-color: #cc7a00;
	position: fixed;
	width: 60px;
	height: 30px;
	top: 172px;
	left: 1246px;
	text-align: center;
	border-radius: 5px;
	padding: 10px;
	color: black;
	border: 20px;
	outline: 40;
}
.delete3-group > button{
	background-color: #cc7a00;
	position: fixed;
	width: 60px;
	height: 30px;
	top: 217.4px;
	left: 1246px;
	text-align: center;
	border-radius: 5px;
	padding: 10px;
	color: black;
	border: 20px;
	outline: 40;
}

.delete4-group > button{
	background-color: #cc7a00;
	position: fixed;
	width: 60px;
	height: 30px;
	top: 262.4px;
	left: 1246px;
	text-align: center;
	border-radius: 5px;
	padding: 10px;
	color: black;
	border: 20px;
	outline: 40;
}

.delete5-group > button{
	background-color: #cc7a00;
	position: fixed;
	width: 60px;
	height: 30px;
	top: 307.4px;
	left: 1246px;
	text-align: center;
	border-radius: 5px;
	padding: 10px;
	color: black;
	border: 20px;
	outline: 40;
}
.update1-group > button{
	background-color: #cc7a00;
	position: fixed;
	width: 60px;
	height: 30px;
	top: 127.5px;
	left: 1180px;
	text-align: center;
	border-radius: 5px;
	padding: 10px;
	color: black;
	border: 20px;
	outline: 40;
}

.update2-group > button{
	background-color: #cc7a00;
	position: fixed;
	width: 60px;
	height: 30px;
	top: 172px;
	left: 1180px;
	text-align: center;
	border-radius: 5px;
	padding: 10px;
	color: black;
	border: 20px;
	outline: 40;
}
.update3-group > button{
	background-color: #cc7a00;
	position: fixed;
	width: 60px;
	height: 30px;
	top: 217.4px;
	left: 1180px;
	text-align: center;
	border-radius: 5px;
	padding: 10px;
	color: black;
	border: 20px;
	outline: 40;
}

.update4-group > button{
	background-color: #cc7a00;
	position: fixed;
	width: 60px;
	height: 30px;
	top: 262.4px;
	left: 1180px;
	text-align: center;
	border-radius: 5px;
	padding: 10px;
	color: black;
	border: 20px;
	outline: 40;
}

.update5-group > button{
	background-color: #cc7a00;
	position: fixed;
	width: 60px;
	height: 30px;
	top: 307.4px;
	left: 1180px;
	text-align: center;
	border-radius: 5px;
	padding: 10px;
	color: black;
	border: 20px;
	outline: 40;
}


.title{
	color: #dc3545;
}